a {
    margin: 4px 4px;
    padding: 0;
    float: left;
}

ul {
    padding: 0;
    margin-top: 5px;
}
header{
position: fixed;
top: 0;
width: 1130px;
height: 50px;
background-color:#D8D8D8;
}

.mypage {
    float: right;
}

.teaching-material-display {
    position: fixed;
    top: 50px;
    width: 1130px;
    height: 150px;
    display: flex;
    background-color: #F1F1F1;
    flex-wrap: wrap;
}

.teaching-material-image-box {
width: 100px;
height: 120px;
margin: 10px 20px;
background-color: #FFFFFF;
}
.teaching-material-image-box img {
    width: 100%;
    height: 120px;
}

.teaching-material-display ul{    
}
.saitourokutext {
    margin-left: 10px;
    margin-top: 20px;
}
.saitourokutext ul li{
    list-style: none;
    float: left;
    font-size: 12px;
    margin-right: 10px;
}

input {
width: 400px;
margin-top: 15px;
margin-bottom: 15px;
}


.btn-touroku button{
    margin: auto;
    background-color: rgb(0, 0, 0);
    color: azure;
}
.mt-ios {
    margin-left: 100px;
    margin-top: 60px;
    font-size: 10px;
}
.kyouzaihumei {
    margin-top: 45px;
    margin-left: 10px;
}
.btn-gakunen select {
    margin-right: 5px;
    font-size: 20px;
    margin-top:60px;
    margin-left: 20px;
    padding-right: 15px;
    color: floralwhite;
    background-color: black
    
}

.btn-kamoku select {
    font-size: 20px;
    margin-top:60px;
    margin-left: px;
    padding-right: 15px;
    color: floralwhite;
    background-color: black
}

.yohak {
    width: 1130px;
    height: 30px;
    background-color: #c7c0c0;
}

.yohak p{
    font-size: large;
    color: #ffffff;
    margin-left: 600px;
    margin-top: 5px;
}

.Syokai-saiten-tool {
    float: left;
    width: 60%;
    height: 300px;
    background-color:#FBFBFB;
}

.Syokai-saiten-tool ul{
    list-style: none;
    padding-left: 5px;
    margin-top: 220px;
}
.Syokai-saiten-tool li{
    float: left;
    margin-right: 10px;
    margin-top: 10px;
}
.tool-aikon {
    display: flex;
    padding: 20px 0;
}
.fas {
    margin-left: 12px;
    color: #020202;
    font-size: 20px;
}
.far {
    margin-left: 12px;
    color: #020202;
    font-size: 20px;
}
.itiran {
    background-color: #009688;
    width: 120px;
    height: 50px;
}
.hunou {
    background-color: #FFEE00;
    width: 120px;
    height: 50px;
}
.kakutei{
    background-color: #FF0000;
    color: #FFFFFF;
    width: 130px;
    height: 50px;
}
.teaching-material-post {
    width: 100%;
    height: 400px;
    display: flex;
}
.teaching-material-post-left {
    width: 110px;
    height: 400px;
    overflow-y: scroll;
    background-color: rgb(150, 170, 170);
    text-align: center;
    display: flex;
    flex-flow: column;
}
.teaching-material-post-left ul {
    list-style: none;
}
.teaching-material-post-left ul li {
    width: 100px;
    height: 100px;
    margin-bottom: 5px;
    border: 3px solid #020202;
}
.teaching-material-post-left ul li img {
    width: 70%;
    height: auto;
}
.teaching-material-post-center {
    width: 550px;
    height: 400px;
    background-color: #FFEE00;
    overflow-y: scroll;
}
.teaching-material-post-center-text {
    display: flex;
    flex-flow: column;
}
.center-text-top {
    margin-right: 240px;
    display: -webkit-box;
}
.text-top1 {
    width: 350px;
    font-size: 12px;
    display: block;
    margin-top: 15px;
    margin-left: 15px;
}
.text-top2 {
    width: 180px;
    font-size: 12px;
    margin-left: 10px;
    margin-top: 10px;
}
.text-top3 {
    width: 100px;
    font-size: 12px;
    margin-top: 17px;
    margin-left: 20px;
    display: block;
}
.mt-ios-red {
    font-size: 8px;
    margin-left: 5px;
    margin-top: 15px;
}
.center-text-middle {
    display: -webkit-box;
}
.center-text-middle input {
    width: 30px;
    margin-left: 20px;
    margin-top: 16px;
}
.mt-ios-blue {
    font-size: 8px;
    margin: 16px 8px;
}
.middle {
    width: 100px;
    font-size: 12px;
    margin: 16px 2px;
}
.teaching-material-post-center-under {
    display: flex;
    overflow-y: scroll;
}
.tokinaosi {
    background-color: azure;
    width: 200px;
    height: 200px;
    border: 2px solid #020202;
    margin: 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: scroll;
}
.tokinaosi img {
    width: 100%;
    height: auto;
}
.tokinaosi p{
    margin: 0;
}
.kaitouyousi {
    width: 300px;
    height: 500px;
    border: 2px solid #020202;
    margin: 0 10px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.kaitouyousi img {
    width: 100%;
    height: auto;
}
.kaitouyousi p{
    margin: 0;
}
.teaching-material-post-right {
    width: 465px;
    background-color: aquamarine;
    height: 400px;
    display: flex;
    overflow: scroll;
    flex-flow: column;
}
.teaching-material-post-right-text {
    margin-left: 280px;
}

.teaching-material-post-right-under{
    width: 465px;
    height: 400px;
    overflow: scroll;
}
.seikai {
    background-color: #FBFBFB;
    border: 2px solid #020202;
    width: 400px;
    height: 600px;
    margin-left: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.seikai img {
    width: 100%;
    height: auto;
}
.seikai p{
    margin: 0;
}